<section >
  <div class="custom-container">
    <div class="header flex-md-row justify-content-md-between px-md-3">
    
      <div class="d-flex align-items-center">
        <a routerLink="/">
          <img src="https://testwebsite.vanixtechnologies.com/assets/images/logo/vanix-logo.svg"
               alt="Vanix Logo" height="44" class="img img-fluid">
        </a>
      </div>

    
      <nav class="navbar navbar-expand-lg navbar-dark p-0">
        <div class="container-fluid d-flex  justify-content-md-between px-0">
        
          <button class="navbar-toggler d-block d-lg-none" type="button" data-bs-toggle="collapse"
                  data-bs-target="#mainNavbar" aria-controls="mainNavbar"
                  aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          
          <div class="collapse navbar-collapse mt-2 mt-lg-0" id="mainNavbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             
              <li class="nav-item  dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="divisionDropdown"
                   role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Division
                </a>
                <ul class="dropdown-menu" aria-labelledby="divisionDropdown">
                  <li>
                    <a class="dropdown-item text-white" routerLink="/ev-management" href="/ev-management">
                      EV Mobility
                      <small class="d-block text-muted">We specialized in batteries</small>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item text-white" routerLink="/asset-management" href="/asset-management">
                      Asset Management
                      <small class="d-block text-muted">Seamless Real-Time Tracking</small>
                    </a>
                  </li>
                </ul>
              </li>

              
              <li class="nav-item dropdown ms-3">
                <a class="nav-link dropdown-toggle text-white" href="#" id="productsDropdown"
                   role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Products
                </a>
                <ul class="dropdown-menu" aria-labelledby="productsDropdown">
                  <li><a class="dropdown-item" href="#">Product 1</a></li>
                  <li><a class="dropdown-item" href="#">Product 2</a></li>
                </ul>
              </li>

            
              <li class="nav-item dropdown ms-3">
                <a class="nav-link dropdown-toggle text-white" href="#" id="companyDropdown"
                   role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Company
                </a>
                <ul class="dropdown-menu" aria-labelledby="companyDropdown">
                  <li><a class="dropdown-item" href="#">About Us</a></li>
                  <li><a class="dropdown-item" href="#">Careers</a></li>
                </ul>
              </li>
            </ul>

           
            <a href="https://vanixtechnologies.com/contact-us/" target="_blank"
               class="btn  d-flex align-items-center ms-4 bg-success">
              <img src="https://testwebsite.vanixtechnologies.com/assets/images/logo/get-in-touch-light.svg"
                   alt="Get in touch icon" class="me-2" style="height: 20px;">
              Get in touch
            </a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</section>