<footer class="footer">
    <div class="container py-4">
      <div class="row gy-4">
        <div class="col-md-3 text-center text-md-start">
          <a href="https://testwebsite.vanixtechnologies.com/home" class="d-inline-block logo">
            <img src="https://testwebsite.vanixtechnologies.com/assets/images/logo/footer-vanix-logo.svg" alt="Vanix Logo" />
          </a>
        </div>
        <div class="col-md-2">
          <ul>
            <li>Division</li>
            <li><a href="https://testwebsite.vanixtechnologies.com/ev-management" class="footer-link">EV Management</a></li>
            <li><a href="https://testwebsite.vanixtechnologies.com/asset-management" class="footer-link">Asset Management</a></li>
          </ul>
        </div>
        <div class="col-md-2">
          <ul>
            <li>Company</li>
            <li><a href="https://testwebsite.vanixtechnologies.com/about-us" class="footer-link">About us</a></li>
            <li><a href="https://testwebsite.vanixtechnologies.com/case-studies" class="footer-link">Case Studies</a></li>
            <li><a href="https://testwebsite.vanixtechnologies.com/faqs" class="footer-link">FAQs</a></li>
          </ul>
        </div>
        <div class="col-md-2">
          <ul>
            <li>Newsroom</li>
            <li><a href="https://testwebsite.vanixtechnologies.com/press" class="footer-link">Press</a></li>
            <li><a href="https://testwebsite.vanixtechnologies.com/events" class="footer-link">Events</a></li>
            <li><a href="/blogs" class="footer-link">Blogs</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul>
            <li>Contact us</li>
            <li>
              <small>
                Office 17, 8th Floor, Vasavi Skycity, Gachibowli Cir,<br />
                Telecom Nagar, Gachibowli,<br />
                Hyderabad, Telangana, 500081
              </small>
            </li>
            <li class="mt-3 d-flex justify-content-start social-icons">
              <a href="https://www.youtube.com/@vanixtechnologiesofficial" target="_blank">
                <img src="https://testwebsite.vanixtechnologies.com/assets/images/icons/youtube.svg" alt="YouTube" />
              </a>
              <a href="https://www.instagram.com/vanixtechnologies/" target="_blank">
                <img src="https://testwebsite.vanixtechnologies.com/assets/images/icons/instagram.svg" alt="Instagram" />
              </a>
              <a href="https://in.linkedin.com/company/vanixtechnologies" target="_blank">
                <img src="https://testwebsite.vanixtechnologies.com/assets/images/icons/linkedin.svg" alt="LinkedIn" />
              </a>
            </li>
          </ul>
        </div>
      </div>
      <hr />
      <div class="copyright pt-2">
        <p class="m-0">Vanix Technologies 2024. All rights reserved.</p>
      </div>
    </div>
  </footer>
  