<section class="section-three py-5">
    <div class="container text-center mb-4">
        <h2 class="mb-3"> Newsroom</h2>

    </div>

    <div class="container my-5">
        <div class="row g-4">
            <div class="col-12 col-md-4">
                <div class="custom-box p-4">

                    <img src="https://testwebsite.vanixtechnologies.com/assets/images/newsroom/AMD%20Adaptive%20&%20Embedded%20Computing%20Tech%20Day.svg"
                        alt="">
                    <div class="h4">AMD Adaptive & Embedded Computing Tech Day</div>
                    <p class="d-flex flex-column">We had a fantastic day at AMD Tech <span>Day in Bangalore, India, showcasing our</span> cutting-edge FPGA-based EV charger</p><a
                        routerlink="/events" href="/events">Read more <img
                            src="https://testwebsite.vanixtechnologies.com//assets/images/icons/right-green.svg"
                            alt=""></a>

                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="custom-box p-4">
                       <img src="https://testwebsite.vanixtechnologies.com/assets/images/newsroom/Green%20Vehicle%20Expo-%205th%20Edition.png" alt="">
                    <div class="h4">Green Vehicle Expo- 5th Edition</div>
                    <p class="d-flex flex-column">The Green Vehicle Expo was the hub of<span> the Made in India and Make in
                        India</span> concept..</p><a routerlink="/events" href="/events">Read more
                        <img src="https://testwebsite.vanixtechnologies.com//assets/images/icons/right-green.svg" alt=""></a>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="custom-box p-4">

                    <img src="https://testwebsite.vanixtechnologies.com/assets/images/newsroom/London%20Tech%20Week%202024.svg"
                            alt="">
                        <div class="h4">London Tech Week 2024</div>
                        <p>Vanix Team attended the prestigious London Tech Week 2024! ✨
                            This premier event hosted over 45,000.. </p><a routerlink="/events" href="/events">Read more
                            <img src="https://testwebsite.vanixtechnologies.com//assets/images/icons/right-green.svg"
                                alt=""></a>

                </div>
            </div>
        </div>
    </div>
</section>