<section class="section-four py-5">
    <div class="container text-center mb-5">
      <h2 class="h2">Trusted By Industry leaders</h2>
    </div>
  
    <div class="container my-5">
      <div class="box">
        <div class="logo-grid d-flex  justify-content-center ">
          <img src="https://testwebsite.vanixtechnologies.com/assets/images/industry-leaders/sai_w3.svg" alt="SAI W3" />
          <img src="https://testwebsite.vanixtechnologies.com/assets/images/industry-leaders/excel_point.svg" alt="Excelpoint" />
          <img src="https://testwebsite.vanixtechnologies.com/assets/images/industry-leaders/AMD.svg" alt="AMD" />
          <img src="https://testwebsite.vanixtechnologies.com/assets/images/industry-leaders/NVDIA.svg" alt="NVIDIA" />
          <img src="https://testwebsite.vanixtechnologies.com/assets/images/industry-leaders/dpiit.svg" alt="DPIIT" />
          <img src="https://testwebsite.vanixtechnologies.com/assets/images/industry-leaders/cIIE.svg" alt="CIIE" />
          <img src="https://testwebsite.vanixtechnologies.com/assets/images/industry-leaders/GTU.svg" alt="GTU" />
          <img src="https://testwebsite.vanixtechnologies.com/assets/images/industry-leaders/Atal.svg" alt="Atal" />
          <img src="https://testwebsite.vanixtechnologies.com/assets/images/industry-leaders/AWS.svg" alt="AWS" />
        </div>
      </div>
    </div>
  </section>
  