<div class="second-section">
    <div class="second-section-bg"></div>
  
    <div class="box-container">
      <div class="box-grp">
        <div class="box">
          <h3>Battery & EV Charging Management</h3>
          <p>Smarter Batteries, Smarter Charging</p>
          
            <div class="labels">
                <label><img src="https://testwebsite.vanixtechnologies.com/assets/images/home/tool-icon.svg" alt="">EV Battery Safety</label>
                <label><img src="https://testwebsite.vanixtechnologies.com/assets/images/home/tool-icon.svg" alt="">EV Battery Swapping</label>
                <label><img src="https://testwebsite.vanixtechnologies.com/assets/images/home/tool-icon.svg" alt="">AI-Powered Predictive Analytics</label>
              </div>
              <img src="https://testwebsite.vanixtechnologies.com/assets/images/home/ev_charging_management.svg" alt="">
          
        
        </div>
  
        <div class="box">
          <h3>Asset Tracking & Management</h3>
          <p>Smarter Tracking, Smarter Security</p>
          <div class="labels">
            <label><img src="https://testwebsite.vanixtechnologies.com/assets/images/home/tool-icon.svg" alt="">Wireless ID Card Trackers</label>
            <label><img src="https://testwebsite.vanixtechnologies.com/assets/images/home/tool-icon.svg" alt="">Real-Time Location Visibility</label>
            <label><img src="https://testwebsite.vanixtechnologies.com/assets/images/home/tool-icon.svg" alt="">AI-Powered Asset Optimization</label>
          </div>
          <img src="https://testwebsite.vanixtechnologies.com/assets/images/home/Asset%20Management_Seamless%20Real-Time%20Tracking_Illustration.svg" alt="">
         
        </div>
      </div>
    </div>
  </div>
  