<app-header></app-header>
<main>
  <section class="position-relative hero-section">
    <div class="video_container">
      <video #bgVideo autoplay muted loop playsinline preload="auto">
        <source src="https://testwebsite.vanixtechnologies.com/assets/videos/home-page-video-file.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>

    <div class="video-overlay-content text-center text-white px-3 px-md-5">
      <h1 class="d-flex flex-column display-6 display-md-4 fw-bold">
        AI-Powered Telematics for EVs & 
        <span>Assets</span>
      </h1>
      <p class="data d-flex flex-column fs-6 fs-md-5 mt-3">
        Maximizing Efficiency with AI-Powered Battery & 
        <span>Asset Intelligence.</span>
      </p>
    </div>
  </section>
</main>
<app-about-company></app-about-company>
<app-section-three></app-section-three>
<app-section-four></app-section-four>
<app-section-five></app-section-five>
<app-section-six></app-section-six>
<app-section-seven></app-section-seven>
<app-footer></app-footer>
