<section class="section-three py-5">
    <div class="container text-center mb-4">
      <h2 class="mb-3">About Company</h2>
      <p class="poppins-light my-5">
        Transforming Battery Asset Management with AI-Powered
        <br />
        <span>Insights and IoT-Driven Control.</span>
      </p>
    </div>
  
    <div class="container my-5">
      <div class="row g-4">
        <div class="col-12 col-md-4">
          <div class="custom-box p-4">
            <h4>AI+IoT Innovation</h4>
            <p class="poppins-light">Cutting-Edge Telematics for Optimized Performance &amp; Control.</p>
            <img
              src="https://testwebsite.vanixtechnologies.com/assets/images/home/ai+iot_annovation.svg"
              alt="AI and IoT"
              class="img-fluid mt-2"
            />
          </div>
        </div>
  
        <div class="col-12 col-md-4">
          <div class="custom-box p-4">
            <h4>Proven Accuracy</h4>
            <p class="poppins-light">Trusted Analytics for Better Monitoring &amp; Management.</p>
            <img
              src="https://testwebsite.vanixtechnologies.com/assets/images/home/proven_accuracy.svg"
              alt="Proven Accuracy"
              class="img-fluid mt-2"
            />
          </div>
        </div>
  
        <div class="col-12 col-md-4">
          <div class="custom-box p-4">
            <h4>Global Compliance</h4>
            <p class="poppins-light">Industry-Compliant Telematics for Safe & Efficient Management.</p>
            <img
              src="https://testwebsite.vanixtechnologies.com/assets/images/home/globle_compliance.svg"
              alt="Global Compliance"
              class="img-fluid mt-2"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  