<section class="newsletter-section">
    <div class="container-fluid bg-gradient-custom">
      <div class="row justify-content-center align-items-center newsletter-box px-4 py-5">
        <div class="col-lg-5 text-center text-lg-start">
          <h2 class="newsletter-heading mb-4">Stay Connected With Us</h2>
        </div>
        <div class="col-lg-5 newsletter-content text-center text-lg-start">
          <h6 class="newsletter-subtitle mb-3">Subscribe to our Newsletters</h6>
          <div class="input-group newsletter-input mb-3">
            <input type="text" class="form-control email-input me-4" placeholder="Enter your email" />
            <button class="btn subscribe-button rounded-2" type="button">Subscribe</button>
          </div>
          <p class="newsletter-description ms-3">
            Join the tech revolution and stay in the know. Subscribe for exclusive updates, offers, and a glimpse into the future
          </p>
        </div>
      </div>
    </div>
  </section>
  